* {
    box-sizing: border-box;
    font-family: Raleway;
}

body {
    margin: 0;
}

main {
    transition: margin-left .5s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    color: inherit;
}

.header {
    flex: 1;
    display: flex;
    flex-direction: row;
    padding: 1em;
    background-color: rgb(20, 126, 248);
    position: fixed;
    left: 0;
    right: 0;
    transition: margin-left .5s;
}

.title {
    flex: 1;
    align-self: center;
    text-align: center;
    margin: 0;
    color: rgb(255, 255, 255);
}

.headerIcon {
    padding: 1em;
    align-self: center;
    color: white;
    font-size: x-large;
    cursor: pointer;
}

.headerIcon:hover {
    background-color: rgb(5, 107, 224);
    color: black;
}

.search {
    text-align: center;
    font-size: 0;
    width: 100%;
}

.new {
    flex: 1;
    padding: 1em;
    /*background-color: cadetblue;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: fit-content;
}

.popular {
    flex: 1;
    padding: 1em;
    /*background-color: darkgoldenrod;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 75%;
}

.sale {
    flex: 1;
    padding: 1em;
    /*background-color: darkred;*/
    width: 100%;
    display: flex;
}

.footer {
    flex: 1;
    padding: 1em;
    background-color: #1C1D25;
    color: white;
    text-align: center;
    width: 100%;
}

.ticket-info-box {
    background-color: white;
    width: 50%;
    display: flex;
    flex-direction: row;
    text-align: center;
    border: 1px solid rgba(128, 128, 128, 0.322);
    padding: 1em;
    height: 10em;
}

.ticket-info-box>img {
    flex: 1;
    display: inline-block;
    width: 25%;
    height: 100%;
}

.ticket-info-box>div {
    flex: 1;
    align-self: center;
}

.ticket-info-box>div>button {
    width: fit-content;
}

.ticket-popular-box {
    width: 25%;
    height: 20em;
    display: block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ticket-popular-box>img {
    border: 1px solid rgba(128, 128, 128, 0.322);
    display: inline-block;
    width: 100%;
    height: 100%;
}

.ticket-popular-box>img:hover {
    cursor: pointer;
    opacity: 0.8;
}

.ticket-popular-box>p {
    background-color: #1C1D25;
    width: fit-content;
    padding: 0.3em;
    position: relative;
    transform: translate(0em, -3em);
    color: white;
}

.sidebar {
    background-color: white;
    position: fixed;
    z-index: 1;
    width: 0;
    height: 100vh;
    visibility: hidden;
    transition: width 0.5s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-image: url('images/background.png');
    background-size: contain;
}

.items {
    padding: 1em;
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: white;
    font-size: x-large;
}

.items:hover {
    background-color: rgb(55, 143, 245);
    color: white;
}

.button {
    background-color: rgb(20, 126, 248);
    border: 0;
    color: white;
    padding: 1em;
    border-radius: 0.5em;
}

.button:hover {
    background-color: rgb(0, 99, 212);
    cursor: pointer;
}

.discountIcon {
    background-color: red;
    padding: 0.5em;
    border-radius: 1em;
    color: white;
    font-size: large;
    width: fit-content;
}

.icon {
    padding: 1em;
    font-size: xx-large;
}

.h1Header {
    padding: 0.5em;
}

.pHeader {
    padding: 0.5em;
    font-size: large;
    margin: 0;
}

.content {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(128, 128, 128, 0.322);
    border-radius: 0.5rem;
    padding: 3rem;
    padding-top: 0.5rem;
    padding-bottom: 2rem;
}

.searchField {
    border: 1px solid grey;
    border-radius: 0.2rem;
    font-size: x-large;
    padding: 0.5rem;
}

#searchField {
    font-size: x-large;
    width: 40%;
}

#searchIcon {
    font-size: x-large;
}

#submitSearch {
    color: white;
    background-color: rgb(20, 126, 248);
    border: 0;
    padding: 0.4em;
}

#submitSearch:hover {
    background-color: rgb(0, 99, 212);
    cursor: pointer;
}

#searchText {
    font-size: x-large;
    padding: 0.15em;
    background-color: rgb(20, 126, 248);
    color: white;
}


@media screen and (min-width: 640px) {}